In [ ]:
*
* *
* * *
* * * *

In [1]:
n = 4
for i in range(4):
    for j in range(0,i +1):
        print("*", end = ' ')
    print()

*
* *
* * *
* * * *

In [21]:
no_rows= int(input("enter the number of rows: " ))
for row in range(no_rows+1):
    for column in range(0 , row):
        print("*", end= " ")
    print()

enter the number of rows: 5

*
* *
* * *
* * * *
* * * * *

In [ ]:
* * * * 
* * * 
* * 
*

In [4]:
n =4
for i in range(n):
    for j in range(0 ,n - i):
        print("*" , end = " ")
    print()

* * * *
* * *
* *
*

In [ ]:
* * * *
  * * *
    * *
      *

In [9]:
n = 4
for i  in n:
    for j in i:
        print("*", end = " ")
    for j in n-1:
        print(" "* len("*") + "*" , end = " ")
    for j in n

SyntaxError: invalid syntax (4190160812.py, line 7)

In [10]:
list[range(1,5+1)]

list[range(1, 6)]

In [13]:
list[range(1,6)]

list[range(1, 6)]

In [14]:
range(1,6)

range(1, 6)

In [17]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
*
* *
* * *
* * * *

In [28]:
no_rows = int(input("enter the number of row : "))
for row in range(no_rows):
    for colunm in range(row+1):
        print("*" , end = " ")
    print()

enter the number of row : 4
*
* *
* * *
* * * *

In [29]:
no_row = int(input("enter the mber of ros: "))
for row in range(no_row):
    for column in range(row + 1):
        print("*" , end = " ")
    print()

enter the mber of ros: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
* * * * 
* * * 
* * 
*

In [32]:
no_row = int(input("enter the number of rows: "))
for row in range(no_row,0,-1):
    for column in range(row):
        print("*", end= " ")
    print()

enter the number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [35]:
for i in range(3,0,-1):
    print(i)

3
2
1

In [37]:
no_row = int(input("enter the number of rows: "))
for row in range(no_row):
    for column in range(row +1):
        print("*" , end = " ")
    print()
for row in range(no_row-1,0, -1):
    for column in range(row):
        print("*" , end = " ")
    print()

enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
no_row = int(input("enter the number of rows: "))
for row in range(1,no_row+1):
    for column in range(1,row +1):
        print(row, end = ' ')
    print()
for row in range(no_row-1 ,0 ,-1):
    for column in range(row):
        print(row, end = " ")
    print()

enter the number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [52]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1):
    for col in range(1, row+1):
        print(col , end = " ")
    print()

enter the number of rows: 4
1
1 2
1 2 3
1 2 3 4

In [58]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print(col, end = " ")
    print()
for row in range(no_row-1 ,0 ,-1):
    for col in range(1,row+1):
        print(col, end = " ")
    print()

enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [59]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print("{}{}".format(row, col), end = " ")
    print()

enter the number of rows: 5
11
21 22
31 32 33
41 42 43 44
51 52 53 54 55

In [61]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print("{}{}".format(col, row), end = " ")
    print()

enter the number of rows: 5
11
12 22
13 23 33
14 24 34 44
15 25 35 45 55

In [63]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print("{}{}".format(row, col), end = " ")
    print()
for row in range(no_row-1 ,0 ,-1):
    for col in range(1,row+1):
        print("{}{}".format(row,col) , end = " ")
    print()

enter the number of rows: 5
11
21 22
31 32 33
41 42 43 44
51 52 53 54 55
41 42 43 44
31 32 33
21 22
11

In [4]:
no_row = int(input("enter the number of rows: "))
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print("{0}{1}".format(col, row), end = " ")
    print()
for row in range(no_row-1 ,0 ,-1):
    for col in range(1,row+1):
        print("{0}{1}".format(col , row) , end = " ")
    print()

enter the number of rows: 5
11
12 22
13 23 33
14 24 34 44
15 25 35 45 55
14 24 34 44
13 23 33
12 22
11

In [8]:
no_row = int(input("enter number of rows: "))
ch = 64
for row in range(1, no_row+1 ):
    for col in range(1,row+1):
        print("{0}".format(chr(ch+row)), end = " ")
    print()
for row in range(no_row-1 ,0 ,-1):
    for col in range(1,row+1):
        print("{0}".format(chr(ch+row)) , end = " ")
    print()

enter number of rows: 5
A
B B
C C C
D D D D
E E E E E
D D D D
C C C
B B
A

In [20]:
no_row = int(input("enter the number of rows: "))
ch = 64
for row in range(1,no_row +1):
    for col in range(1,row+1):
        ch = ch+1
        print("{0}".format(chr(ch)), end = " ")
    print()

enter the number of rows: 5
A
B C
D E F
G H I J
K L M N O

In [24]:
no_row = int(input("enter the number of rows: "))
ch = 64
for row in range(1,no_row +1):
    for col in range(1,row+1):
        ch = ch+1
        print("{0}".format(chr(ch)), end = " ")
    print()
ch = 75
for row in range(no_row ,0 ,-1):
    for col in range(1,row):
        ch = ch-1
        print("{0}".format(chr(ch)), end = " ")
    print()

enter the number of rows: 5
A
B C
D E F
G H I J
K L M N O
J I H G
F E D
C B
A

In [27]:
no_rows = int(input("enter the number of rows: "))
sum= 0 
for row in range(1,no_row +1):
    for col in range(1,row+1):
        sum = sum+1
        print("{:02d}".format(sum), end = " ")
    print()

enter the number of rows: 5
01
02 03
04 05 06
07 08 09 10
11 12 13 14 15

In [36]:
no_row = int(input("enter the nmber of row: "))
sum = 0
for row in range(1, no_row+1):
    for col in range(1,row+1):
        sum = sum +1
        print("{:2d}".format(sum), end = " " )
    print()

enter the nmber of row: 5
 1
 2  3
 4  5  6
 7  8  9 10
11 12 13 14 15

In [41]:
no_row = int(input("enter the nmber of row: "))
sum = 0
for row in range(1, no_row+1):
    for col in range(1,row+1):
        sum = sum +1
        print("{:02d}".format(sum), end = " " )
    print()
sum = 15
for row in range(no_row, 0 , -1):
    for col in range(1,row+1):
        sum = sum -1
        print("{:02d}".format(sum), end = " ")
    print()

enter the nmber of row: 5
01
02 03
04 05 06
07 08 09 10
11 12 13 14 15
14 13 12 11 10
09 08 07 06
05 04 03
02 01
00

In [8]:
for row in range(6):
    for col in range(7):
        if (row ==0 and (col%3 !=0) or (row ==1 and (col%3 ==0)) or (row - col ==2) or (row + col == 8)):
            print("*", end="")
        else:
            print(end= " ")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [12]:
row = 4 
for i in range(1,row+1):
    for j in range(1,row+1):
        print("*", end = " ")
    print()

* * * *
* * * *
* * * *
* * * *