In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [2]:
rows = 4
for i in range(1,rows+1):
    for  j in range(i):
        print("ineuron", end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [ ]:
q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [27]:
rows = 5
col =  5
for row in range(1,rows+1):
    for col in range(1,col+1):
        if ((row%2 != 0 ) and (col%3 ==0)) or ((row%2 == 0) and (col%2 ==0)) or (row%3 ==0 and col%2 !=0):
            print("ineuron" , end = " ")
        else:
            print(" "* len("ineuron"), end = " ")
       
    print()

                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

In [17]:
rows = 5
range(1,rows+1)

range(1, 6)

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [ ]:
q3 : Try to extract all the list entity

In [5]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [6]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [ ]:
q4 : Try to extract all the dict enteties

In [7]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [ ]:
q5 : Try to extract all the tuples entities

In [8]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [ ]:
q6 : Try to extract all the numerical data it may b a part of dict key and values

In [14]:
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                #print(j)
                l2.append(j)
    if type(i) == dict:
        for j , k in i.items():
            if type(j) == int:
                l2.append(j)
                #print(j)
            if type(k) == int:
                l2.append(k)
                #print(k)

In [15]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [ ]:
q7 : Try to give summation of all the numeric data

In [16]:
sum = 0
for i in l2:
    sum  = sum + i
print(sum)

156

In [ ]:
q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [2]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [3]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

1
2
3
4

In [ ]:
q9 : Try to extract "ineruon" out of this data

In [5]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) ==set:
        for j in i:
            if j == "ineuron":
                print(j)
    if type(i)  == dict:
        for k, v in i.items():
            if k == "ineuron":
                print(k)
            if v == "ineuron":
                print(v)

ineuron
ineuron

In [ ]:
q10 :Try to find out a number of occurances of all the data

In [21]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [34]:
l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) ==set:
            for  j in i:
                l3.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l3.append(k)
            l3.append(v)
    
        
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [13]:
for i in set(l3):
    print(i , ":" , l3.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
8 : 1
ineuron : 2
45 : 1
sudh : 1
k2 : 1
kumar : 1
23 : 1
data science  : 1
k1 : 1

In [ ]:
q11 : Try to find out number of keys in dict element

In [25]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [31]:
count = 0
for  i in l:
    if type(i) == dict:
        for j in i:
            count =count + 1
            print(j)
print("countof keys : ", count)

k1
k2
k3
3
7
countof keys :  5

In [ ]:
q12 : Try to filter out all the string data

In [35]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [36]:
for i in l3:
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [ ]:
q13 : Try to Find  out alphanum in data

In [57]:
l4 = []
for i in l3:
    if type(i) == str:
        l4.append(i)
        
print([i for i in l4 if not i.isalpha()])

['k1', 'k2', 'k3', 'data science ']

In [54]:
mylist=["hi", "h_ello", "how're", "you", "@list"]
print([i for i in mylist if not i.isalpha()])

['h_ello', "how're", '@list']

In [ ]:
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [58]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [84]:
mul = 1
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                mul = mul * j
print(mul)
mul = 1
for i in l:
    if type(i) == tuple:
        mul = 1
        for j in i:
            if type(j) == int:
                mul = mul * j
        print(mul) 
mul =1
for i in l:
    if type(i) == set:
        mul = 1
        for j in i:
            if type(j) == int:
                mul = mul * j
        print(mul)
muld = 1
mulv = 1
for i in l:
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int:
                muld = muld * k
            if type(v) == int:
                mulv = mulv *v
        print(muld)
        print(mulv)

24
720
2520
20700
21
48

In [65]:
(2* 3* 4* 5* 6)

720

In [66]:
3* 4* 5* 6* 7

2520

In [69]:
4* 5* 23* 45

20700

In [ ]:
q15 : Try to unwrape all the collection inside collection and create a flat list

In [78]:
l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) ==set:
            for  j in i:
                l3.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l3.append(k)
            l3.append(v)
    
        
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']